body {
    font-family: "Open Sans";
    color: #444;
    margin: 0;
    padding: 0;
}

.category-list {
    width: 100%;
}

.category-item {
    width: 100%;
    height: 188px;
    background-color: #fff;
    border-bottom: 1px solid #f8f8f8;
    cursor: pointer;
}
.category-item:hover,
.category-item:focus {
    background-color: #f8f8f8;
}

.category-item-inner {
    width: 1000px;
    margin: 0 auto;
}

.category-item-image > img {
    width: 300px;
    float: left;
}

.category-item-text-block {
    margin-left: 330px;
    padding-top: 25px;
}

.category-item-header {
    font-size: 32px;
    margin: 0 0 5px 0;

}

.category-item-small-text {
    font-size: 14px;
    color: #959595;
    margin-top: 5px;
}

.playlists > div {
    float: left;
    margin: 20px;
}

.playlists {
    max-width: 1200px;
}

.back-btn {
    color: #0645ad;
    font-size: 20px;
    text-decoration: none;
    margin: 20px 0 30px 20px;
    display: block;
}
.back-btn:visited {
    color: #0645ad;
}



@media (max-width: 1020px) {

    .category-item {
        height: 94px;
    }

    .category-item-inner {
        width: 700px;
    }
    .category-item-image,
    .category-item-image > img {
        width: 150px;
    }

    .category-item-text-block {
        padding-top: 5px;
        margin-left: 160px;
    }

    .category-item-header {
        margin: 0;
    }

    .category-item-small-text {
        font-size: 12px;
        margin-top: 0;
    }
}

@media (max-width: 700px) {
    .category-item-inner {
        width: 100%;
    }
}